<!DOCTYPE html>
<html>
  <head>
    <title>Games Schedule</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <h1>Games Schedule</h1>
      <nav>
        <form action="/team" method="POST" id="search-form">
          <input type="text" name="name" placeholder="Enter team name" />
          <button type="submit">Search</button>
        </form>
      </nav>
    </header>
  </body>
</html>
